
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rapor Sayfası</h1>
    
<a href="/Report/StaticExcelList/" class="btn btn-outline-danger" >Excel Static Raporlar</a>
<br />
<a href="/Report/ExcelDynamic/" class="btn btn-outline-danger">İlan Raporu</a>
<br />
<a href="/Report/StaticPdfReport/" class="btn btn-outline-danger">İlan Raporu</a>


